@font-face {
    font-family: opensans-bold;
    src: url(../fonts/opensans-bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: opensans-regular;
    src: url(../fonts/opensans-regular.ttf);
    font-weight: bold;
}

/**
 * Params of header block.
 * Header block is first screen
 */
header {
    background-image: url("../img/top_ban.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh; /* 1vh = 1% of window height */
    width: auto;
}

/* beginning styling top menu */
.top-menu {
    width: 100%;
    padding-top: 10px;
    height: 60px;
    position: relative;
    background: rgba(35, 62, 78, .9);

}

/* beginning styling menu on small and big screen */
ul.top-menu__menu-li li a,
.dropdown-menu li a {
    font-size: 16px;
    font-family: opensans-regular;
    color: #fff;
}

ul.top-menu__menu-li li a {
    font-size: 16px;
    color: #fff;
}

ul.top-menu__menu-li li a:hover,
ul.top-menu__menu-li li a:focus,
ul.top-menu__menu-li li a:active,
.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-menu li a:active {
    text-decoration: none;
    font-weight: bold;
    color: #5da752;
    font-size: 16px;
    font-family: opensans-regular;
    background-color: transparent;
}

.dropdown-menu {
    background: rgba(35, 62, 78, .9);
}

.dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default,
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #fff;
    background: transparent;
    border: none;
    font-size: 16px;
    font-family: opensans-regular;
}

.dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #5da752;
}
/* end styling menu on small and big screen */


/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.right-addon input { padding-right: 30px; }

.red_line {
    min-height: 3px;
    background-color: #ab4852;
}
/* end styling top menu */

/* styling text header */
.h1-in-header {
    text-transform: uppercase;
    font-family: opensans-bold;
    font-size: 60px;
    color: #fff;
    text-shadow: 1px 1px 1px grey;
    padding-top: 80px;
    text-align: right;
}

/* maus ico in bottom of first screen of site */
#maus-ico {
    margin-left: 46vw;
    margin-bottom: 5vh;
    position: absolute;
    bottom: 0;
}


#company-news {
    background-color: #dfeddc;
}


.company-news__hozontal-line hr {
    border: none;
    color: #5da752;
    background-color: #5da752;
    height: 2px;
}


.company-news__header {
    padding-top: 35px;
}


.company-news__block-title {
    font-family: opensans-bold;
    text-align: center;
    font-size: 24px;
    padding-top: 3px;
    text-transform: uppercase;
}

.company-news__tree_news_row {
    margin-top: 25px;
    padding-bottom: 25px;
}


.company-news__news-block {
    border: 1px solid #5da752;
    padding-bottom: 40px;
    margin-bottom: 20px;
    background-color: #fff;
}


.company-news__news-block img {
    max-width: 100%;
    height: auto;
    float: left;
    margin-bottom: 20px;
}


.company-news__news_content h2 {
    font-family: opensans-bold;
    text-align: center;
    font-size: 24px;
    color: #5da752;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
}
.company-news__news_content p {
    font-family: opensans-regular;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


.company-news__news_content img {
    float: right;
}


.company-news__news_content img:hover {
    float: right;
}