/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .top-menu__logo img,
    .search {
        margin-top: 5px;
    }
    .company-news__block-title,
    .parts-catalog__block-title {
        font-size: 20px;
        padding-top: 7px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .company-news__block-title,
    .parts-catalog__block-title {
        font-size: 16px;
        padding-top: 8px;
    }
    .company-news__news-block img {
        padding-right: 20px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .top-menu__logo img,
    .search {
        margin-top: 0px;
    }
    .company-news__header,
    .parts-catalog__header {
        padding-top: 25px;
    }
    .company-news__block-title,
    .parts-catalog__block-title {
        font-size: 16px;
        padding-top: 8px;
    }
    .company-news__tree_news_row {
        margin-top: 20px;
    }
    .company-news__news_content img {
        margin-right: -20px;
    }
    .parts-catalog__catalog-name a {
        font-size: 14px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .company-news__header,
    .parts-catalog__header {
        padding-top: 12px;
    }
    .company-news__block-title,
    .parts-catalog__block-title {
        font-size: 14px;
        padding-top: 12px;
    }
    .company-news__tree_news_row {
        margin-top: 15px;
    }
    .company-news__news-block img {
        width: 100%;
        height: auto;
        padding-right: 0px;
        margin-bottom: 15px;
    }
    .company-news__news_content h2 {
        font-size: 16px;
    }
    .company-news__news_content p {
        padding-top: 10px;
        font-size: 14px;
    }
    .company-news__news_content img {
        width: 40px;
        height: 40px;
        margin-right: 0px;
    }
    .parts-catalog__catalog-name a {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .top-menu__logo img,
    .search {
        margin-top: 5px;
    }
    .company-news__header,
    .parts-catalog__header {
        padding-top: 0px;
    }
    .company-news__block-title {
        font-size: 12px;
        padding-top: 12px;
    }
    .company-news__tree_news_row {
        margin-top: 0px;
    }
    .company-news__news-block img {
        width: 100%;
        height: auto;
        padding-right: 0px;
        margin-bottom: 15px;
    }
    .company-news__news_content h2 {
        font-size: 16px;
        margin-top: 15px;
    }
    .company-news__news_content p {
        padding-top: 10px;
        font-size: 14px;
    }
    .company-news__news_content img {
        margin-right: 0px;
        width: 40px;
        height: 40px;
    }
    .parts-catalog__block-title{
        font-size: 11px;
        padding-top: 12px;
    }
    .parts-catalog__catalog-name a {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}